.newTodo {
  box-shadow: -5px 5px var(--shadow-col);
  background: var(--bg-taskbox-col);
  padding: 10px;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 60px;
}

.todo-input {
  color: var(--text-col);
  border: 0;
  cursor: line-through;
  padding: 0;
  margin: 0;
  background: transparent;
}

.todo-input:focus {
  outline: none;
}
