.list-container {
  overflow-y: scroll;
  margin-top: 1rem;
  border-top-left-radius: 5px;
  background: var(--bg-taskbox-col);
  height: 60vh;
  box-shadow: -5px 5px var(--shadow-col);
}

.tasks-list {
  border: 1px solid transparent;
  border-radius: 1rem;
}

.task {
  height: 70px;
  border-bottom: 1px solid var(--task-border);
}

.no-todos {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}

.text-checked {
  text-decoration: line-through var(--text-col) 3px;
}

.del-todo {
  position: absolute;
  right: 15px;
  top: auto;
}

.checked-icon {
  position: absolute;
  left: 30%;
  top: 40%
}
