.dark {
  --text-col: hsl(234, 39%, 85%);
  --bg-col: hsl(235, 21%, 11%);
  --bg-taskbox-col: hsl(235, 24%, 19%);
  --bg-desktop: url("./images/bg-desktop-dark.jpg");
  --task-border: hsl(233, 14%, 35%);
}

.light {
  --text-col: hsl(235, 19%, 35%);
  --bg-col: hsl(236, 33%, 92%);
  --bg-taskbox-col: hsl(0, 0%, 98%);
  --bg-desktop: url("./images/bg-desktop-light.jpg");
  --task-border: hsl(233, 11%, 84%);
}

.app {
  position: relative;
}
